# Virtual Environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project specific
*.jpg
*.png
*.jpeg

# Ignore large files
smrtkrt.zip
piper_voices/en_US-lessac-medium.onnx

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Other large binary files
*.mp3
*.wav
*.onnx 